@use 'styles/variables' as *;
@use 'styles/mixins' as *;

.article {
  margin-top: 5rem;

  &__title {
    font-size: 3rem;
    margin-bottom: 1rem;
    line-height: 1.2;
  }

  &__date {
    color: $color-accent;
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;

    & > * + * {
      margin-left: 0.3rem;
    }
  }

  &__caption {
    margin-top: 0.3rem;
    font-size: 0.8125rem;
  }

  &__text {
    margin-top: 1rem;
    padding-bottom: 2rem;
    font-size: 1.0625rem;
  }
}
